/* Webkit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Firefox */
body {
  scrollbar-color: #f1f1f1 #f1f1f1;
}

body::-moz-scrollbar-thumb {
  background: #888;
}

body::-moz-scrollbar-thumb:hover {
  background: #555;
}

body {
  background-color: #f8f8f8;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/*glava in noga*/

header {
  position: sticky;
  top: 0;
  height: 8em;
  width: auto;
  background: #f8f8f8; 
  z-index: 10;
  display: flex;
  align-items: center;
}

footer {
  background-color: #4e4e4e;
  font-family: "Manrope", sans-serif;
  color: #f8f8f8;
  height: 1.5em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

footer a {
  text-decoration: none;
  color: #f8f8f8 !important;
  margin: 0.2em;
  padding: 0;
}

.logo {
  position: absolute;
  background-image: url(https://epicdev.si/jagosi/images/jagosiNew.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 6.3em;
  width: 15rem;
  left: 50%;
  transform: translate(-50%);
  top: 1rem;
 }

/*meni*/

 #menuToggle {
  display: block;
  position: relative;
  left: 3.1em;
  font-family: "Manrope", sans-serif;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  align-items: center;
 }
 
 #menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
 }
 
 #menuToggle a:hover {
  color: #eb9705
 }
 
 #menuToggle input {
  display: block;
  width: 2.7em;
  height: 1.8em;
  position: absolute;
  top: -0.15em;
  left: -0.5em;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
 }

 #menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #4e4e4e;
  border-radius: 0.15em;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.55s ease;
 }
 
 #menuToggle span:first-child {
  transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
 }
 
 #menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
 }
 
 #menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 #menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
 }
 
 #menu {
  position: absolute;
  width: 7em;
  margin: -100px 0 0 -50px;
  padding: 8em 3em 1em 3em;
  background: #f8f8f8;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li {
  padding: 0.3em 0;
  font-size: 1.4em;
 }

#menuToggle input:checked ~ ul {
  transform: none;
 }
 
a {
  text-decoration: none !important;
  color: #7bcd16 !important;
  margin: 0 1rem 0 1em;
}

a:hover {
  color: #eb9705 !important;
}

.jezikSI,
.jezikEN {
  font-family: "Manrope", sans-serif;
  font-size: 1.3em;
  position: absolute;
  right: 2.5em;
  color: #4e4e4e !important;
}

.jezikSI {
  top: 2em;
}

.jezikEN {
  top: 3em;
}

.storitve {
  background-image: url(https://epicdev.si/jagosi/images/95.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 90% 50%;
  height: calc(100vh - 8em);
  width: 100vw; 
}

.storitveBg {
  position: absolute;
  background: rgb(255,255,255);
  background: linear-gradient(31deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 48%, rgba(210,210,210,0.7) 100%);
  height: auto;
  width: 40%;
  top: 58%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  left: 0;
  border-radius: 3px;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, .2);
}

.storitveBesedilo {
  position: absolute;
  font-family: "Manrope", sans-serif;
  font-weight: 200;
  font-size: 1.8em;
  line-height: 1.3;
  word-spacing: 2px;
  padding: 1.8em 1.8em 1.5em 1.8em;
}

.info {
  background-color: #f8f8f8;
  height: auto;
  width: 100vw;
}

.zeleniTrak {
  margin-top: 0.5em;
  background-color: #7bcd16;
  height: 1.2em;
  width: 100vw;
  font-family: "Manrope", sans-serif;
  font-size: 1.8em;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.predstavitev {
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  color: #000000;
  text-align: justify;
  line-height: 1.5;
  word-spacing:-2px;
  margin: 2em 5em 2em 5em;
}

@media(min-width: 320px) and (orientation: portrait) {
  header {
    height: 6em;
  }
  
  footer {
    font-size: 0.5em;
  }
  
  .logo {
    height: 4.5em;
    width: 10rem;
   }
  
   #menuToggle {
    left: 1.65em;
    top: 0.2em;
   }
  
   #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
   }
   
   #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
   }
  
   #menuToggle span {
    width: 1.9em;
    height: 3px;
    margin-bottom: 5px;
   }
   
   #menu {
    width: 11.3em;
    margin: 2em 0 0 -2.8em;
    padding: 0 1.8em 0 3em;
   }
   
   #menu li {
    font-size: 1.2em;
    margin-top: -0.3em;
    font-weight: 500;
   }
  
  .jezikSI,
  .jezikEN {
    font-size: 1em;
    right: 0.9em;
  }
  
  .storitve {
    background-image: url(https://epicdev.si/jagosi/images/3d2.jpg);
    height: calc(100vh - 6em);
    background-position: 0 50%;
    /*<a href="https://www.freepik.com/free-photo/futuristic-concept-new-working-possibilities-small-businesses-by-3d-printing-genderneutral-hand-open-window-printer-access-prototype-made-from-recycled-plastic-jpg-photo_26076753.htm#fromView=search&page=1&position=9&uuid=0352a8c9-ddb0-4d0e-ad5e-a027409a4fac">Image by Anastasia Kazakova</a> on Freepik*/
  }
  
  .storitveBg {
    height: auto;
    top: 73.5%;
  }
  
  .storitveBesedilo {
    position: absolute;
    font-family: "Manrope", sans-serif;
    font-weight: 200;
    line-height: 1.3;
    word-spacing: 2px;
    padding: 1em 1em 1em 1.2em;
    font-size: 1.3em;
    width: 13em;
    height: auto;
  }
  
  .zeleniTrak {
    margin-top: 20px;
    background-color: #7bcd16;
    height: 1.2em;
    width: 100vw;
    font-family: "Manrope", sans-serif;
    font-size: 1.2em;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .predstavitev {
    font-size: 1em;
    font-family: "Manrope", sans-serif;
    color: #000000;
    text-align: justify;
    line-height: 1.5;
    word-spacing: -0.7px;
    width: calc(100% - 3em);
    margin: 2em auto;
  }
  }
  
  @media(min-width: 568px) and (orientation: landscape) {
  header {
    height: 5em;
  }
  
  footer {
    font-size: 0.7em;
  }
  
  .logo {
    top: 0.8em;
    height: 4em;
    width: 9rem;
   }
  
   #menuToggle {
    left: 1.65em;
    top: 0.2em;
   }
  
   #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
   }
   
   #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
   }
  
   #menuToggle span {
    width: 1.9em;
    height: 3px;
    margin-bottom: 5px;
   }
   
   #menu {
    width: 11.3em;
    margin: 0 0 0 -2.8em;
    padding: 0 1.8em 0 3em;
   }
   
   #menu li {
    font-size: 1.2em;
    margin: -0.3em 0 -0.2em 0;
    font-weight: 500;
   }
  
  .jezikSI,
  .jezikEN {
    font-size: 1em;
    right: 0.9em;
  }
  
  .jezikSI {
    top: 1.5em;
  }
    
  .jezikEN {
    top: 2.5em;
  }
  
  .storitve {
    height: calc(100vh - 5em);
  }
  
  .storitveBg {
    top: 68%;
    height: auto;
  }
  
  .storitveBesedilo {
    font-size: 1.1em;
    width: 27em;
    padding: 1em;
  }
  
  .zeleniTrak {
    margin-top: 20px;
    background-color: #7bcd16;
    height: 1.2em;
    width: 100vw;
    font-family: "Manrope", sans-serif;
    font-size: 1.1em;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .info {
    background-color: #f8f8f8;
    height: auto;
    width: 100%;
  }
  
  .predstavitev {
    font-size: 1em;
    font-family: "Manrope", sans-serif;
    color: #000000;
    text-align: justify;
    line-height: 1.5;
    padding: 0 1em;
    width: calc(100% - 3em);
    margin: 2em auto;
  }
  }
  
  @media(min-width: 768px) and (orientation: portrait) {
  .storitveBg {
    top: 69.5%;
  }
  
  .storitveBesedilo {
    width: 27em;
    font-size: 1.4em;
  }
  }
  
  @media(min-width: 1024px) and (orientation: landscape) {
  .storitve {
    background-image: url(https://epicdev.si/jagosi/images/95T.png);
    height: calc(100vh - 5em);
    background-position: 80% 50%;
  }
  
  .storitveBg {
    top: 55%;
    height: auto;
  }
  
  .storitveBesedilo {
    font-size: 1.4em;
    width: 41.5em;
    padding: 1em;
  }
  
  .zeleniTrak {
    font-size: 1.2em;
  }
  }
  
  @media(min-width: 1280px) and (orientation: landscape) {
  header {
    height: 8em;
    }

  .logo {
    top: 1em;
    height: 6em;
    width: 15rem;
    }
  
  #menuToggle {
    left: 2.5em;
    top: 0.3em;
    }
    
  #menu {
    width: 14.5em;
    margin: 1em 0 0 -2.6em;
    padding: 0 1.8em 1em 3em;
    }
    
  #menu li {
    font-size: 1.45em;
    margin: 0 0 -0.5em 0;
    }
    
  .jezikSI,
  .jezikEN {
    font-size: 1.2em;
    right: 1.5em;
    }
    
  .jezikSI {
    top: 2.3em;
    }
      
  .jezikEN {
    top: 3.3em;
    }
    
  .storitve {
    background-image: url(https://epicdev.si/jagosi/images/95.png);
    height: calc(100vh - 8em);
    background-position: 50% 0;
  }

  .storitveBg {
    top: 60%;
  }

  .storitveBesedilo {
    font-size: 1.4em;
  }

  .zeleniTrak {
    font-size: 1.3em;
  }

  .predstavitev {
    font-size: 1.2em;
    width: calc(100% - 5em);
    word-spacing:-0.5px;
    }
  }

  @media(min-width: 1400px) and (orientation: landscape) {
  .storitveBg {
    top: 59%;
    }
  }

  @media(min-width: 1920px) and (orientation: landscape) {
    .storitveBg {
      top: 59.5%;
      }
    }