  /* Webkit (Chrome, Safari) test*/
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  /* Firefox */
  body {
    scrollbar-color: #f1f1f1 #f1f1f1;
  }
  
  body::-moz-scrollbar-thumb {
    background: #888;
  }
  
  body::-moz-scrollbar-thumb:hover {
    background: #555;
  }
  

body {
    background-color: #f8f8f8;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

header {
    height: 100px;
    background-color: #f8f8f8;
    z-index: 10;
}

footer {
    background-color: #4e4e4e;
    font-family: "Arimo", sans-serif;
    color: #f8f8f8;
    text-align: center;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a {
    text-decoration: none;
    color: #f8f8f8 !important;
    margin: 1px;
    padding: 0;
}

.logo {
    position: absolute;
    background-image: url(https://epicdev.si/jagosi/images/jagosiNew.png);
    background-repeat: no-repeat;
 }

/*povezave*/

a {
    text-decoration: none !important;
    color: #7bcd16 !important;
    margin-left: 30px;
}

a:hover {
    color: #eb9705 !important;
}

/*glavna stran*/

.landing {
    background-repeat: no-repeat;
    background-size: cover;
    filter: contrast(1.2);
    height: calc(100vh - 100px);
    width: 100vw;
}

.landingBg {
    position: absolute;
    background: rgb(255,255,255);
    background: linear-gradient(31deg, rgba(255,255,255,0.85) 0%, rgba(255,255,255,0.55) 48%, rgba(210,210,210,0.4) 100%);
    left: 0;
    border-radius: 3px;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, .2);
}

.landingBesedilo {
    position: absolute;
    font-family: "Manrope", sans-serif;
    font-weight: 200;
    line-height: 1.3;
    word-spacing: 2px;
}

.preveriPonudbo {
    position: absolute;
    font-family: "Arimo", sans-serif;
}

/*prijava na e-novice*/

.enovice {
    position: relative;
    background-image: url(https://epicdev.si/jagosi/images/lego2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    align-items: center;
    top: 50%;
    display: flex;
    filter: sepia(10%) contrast(1.3) hue-rotate(40deg) brightness(80%) saturate(140%);
    /*https://unsplash.com/photos/blue-building-block-lot-TL5Vy1IM-uA?utm_content=creditShareLink&utm_medium=referral&utm_source=unsplash*/
}

.enoviceBg {
    position: absolute;
    background-color: #f8f8f8c1;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, .2);
    border-radius: 3px;
    text-align: center;
}

.enoviceBesedilo,
input[type="email"],
.poslji {
    color: #000000;
    font-family: "Arimo", sans-serif;
}

.enoviceBesedilo {
    justify-content: center;
}

input[type="email"] {
    border-radius: 3px;
    filter: brightness(100%);
}

.poslji {
    background-color: rgba(240, 240, 240, 0.5);
    border: 1px solid #4e4e4e;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

/*osnovne informacije - "vaš idealni poslovni partner"*/

.info {
    background-color: #f8f8f8;
    justify-content: space-evenly; 
}

.zeleniTrak {
    width: 100vw;
    margin: 20px 0 20px 0;
    background-color: #7bcd16;
    font-family: "Arimo", sans-serif;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.naslov {
    font-family: "Arimo", sans-serif;
    font-weight: 600;
    color: #000000;
    text-align: center;
    margin: 0;
    padding: 15px 0 15px 0;
}

.vsebinaEna,
.vsebinaDva,
.vsebinaTri {
    position: relative;
    font-family: "Arimo", sans-serif;
    color: #000000;
    text-align: center;
    line-height: 1.5;
    word-spacing:0.2px;
    padding: 0 20px 20px 20px;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 1px solid #4e4e4e;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, .2);
}

.vsebinaEna {
    background: rgb(255,152,67);
    background: linear-gradient(61deg, rgba(255,152,67,0.4) 0%, rgba(248,255,90,0.3) 100%);
}

.vsebinaDva {
    background: rgb(235,255,67);
    background: linear-gradient(61deg, rgba(235,255,67,0.4) 0%, rgba(171,255,79,0.3) 50%, rgba(107,255,90,0.2) 100%);
}

.vsebinaTri {
    background: rgb(67,255,79);
    background: linear-gradient(61deg, rgba(67,255,79,0.4) 0%, rgba(79,255,185,0.3) 50%, rgba(90,255,237,0.2) 100%);
}

.video {
    margin-bottom: 15px;
}

  @media(max-width: 320px) and (orientation: portrait) {
    header {
        position: relative;
        width: 100%;
    }
    
    footer {
        font-size: 8px;
        height: 20px;
    }

    .logo {
        background-size: 70%;
        height: 80%;
        width: 250px;
        left: 21%;
        top: 16%;
     }
    
    /*meni*/
    
    .meni,
    .jezikDE,
    .jezikEN {
       visibility: hidden;
    }
   
    .landing {
        background-image: url(https://epicdev.si/jagosi/images/raca.jpg);
        /*Image by <a href="https://pixabay.com/users/epicioci-1168802/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=5039525">Narcis Ciocan</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=5039525">Pixabay</a>*/
    }
    
    .landingBg {
        height: auto;
        width:auto;
        top: 7%;
    }
    
    .landingBesedilo {
        font-size: 19px;
        padding: 20px 5px 70px 20px;
        width: 80%;
    }
    
    .preveriPonudbo {
        top: 70%;
        font-size: 12px;
        height: auto;
    }

    .enovice {
        height: 30vh;
        width: 100%;
    }
    
    .enoviceBg {
        height: auto;
        width: 100%;
    }
    
    .enoviceBesedilo,
    input[type="email"],
    .poslji {
        font-size: 14px;
    }

    .enoviceBesedilo {
        margin: 20px;
    }
    
    input[type="email"] {
        width: 120px;
        margin: 0 5px 0 0;
        margin-bottom: 20px;
    }
  
    .info {
        height: auto;
        width: 100%;
        display: block;
    }
    
    .zeleniTrak {
        height: 30px;
        font-size: 16px;
    }
    
    .naslov {
        width: auto;
        font-size: 15px;
    }
    
    .vsebinaEna,
    .vsebinaDva,
    .vsebinaTri {
        height: auto;
        width: auto;
        font-size: 14px;
    }
  }

  @media(max-width: 568px) and (orientation: landscape) {
    header {
        position: relative;
        width: 100%;
    }
    
    footer {
        font-size: 10px;
        height: 20px;
    }

    .logo {
        background-size: 70%;
        height: 80%;
        width: 250px;
        top: 16%;
        left: 35%;
     }
    
    /*meni*/
    
    .meni,
    .jezikDE,
    .jezikEN {
       visibility: hidden;
    }
   
    .landing {
        background-image: url(https://epicdev.si/jagosi/images/stroj2.jpg);
        background-size: 110%;
        background-position: 0 10%;
        /*Photo by <a href="https://unsplash.com/@osmantalha?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Osman Talha Dikyar</a> on <a href="https://unsplash.com/photos/a-spool-of-yellow-wire-sitting-on-top-of-a-machine-1MZ9JjAXg1E?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>*/
    }

    .landingBg {
        height: auto;
        width: auto;
        top: 17%;
    }
    
    .landingBesedilo {
        top: 22%;
        font-size: 19px;
        padding: 20px 20px 65px 20px;
        width: 50%;
    }
    
    .preveriPonudbo {
        top: 70%;
        font-size: 13px;
        height: auto;
    }
  
    .enovice {
        height: 50vh;
        width: 100%;
    }
    
    .enoviceBg {
        height: auto;
        width: 100%;
    }

    .enoviceBesedilo {
        margin: 20px;
    }

    input[type="email"] {
        width: 130px;
        margin: 0 5px 20px 0;
    }

    .enoviceBesedilo,
    input[type="email"],
    .poslji {
        font-size: 16px;
    }

    .info {
        height: auto;
        width: 100%;
        display: block;
    }
    
    .zeleniTrak {
        height: 30px;
        font-size: 17px;
    }
    
    .naslov {
        width: auto;
        font-size: 16px;
    }
    
    .vsebinaEna,
    .vsebinaDva,
    .vsebinaTri {
        height: auto;
        width: auto;
        font-size: 16px;
    }

    .video {
        height: 100vh;
    }
  }

  @media(min-width: 320px) and (orientation: portrait) {
    header {
        position: relative;
        width: 100%;
    }
    
    footer {
        font-size: 8px;
        height: 20px;
    }

    .logo {
        background-size: 70%;
        height: 80%;
        width: 250px;
        left: 21%;
        top: 16%;
     }
    
    /*meni*/
    
    .meni,
    .jezikDE,
    .jezikEN {
       visibility: hidden;
    }
   
    .landing {
        background-image: url(https://epicdev.si/jagosi/images/raca.jpg);
        /*Image by <a href="https://pixabay.com/users/epicioci-1168802/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=5039525">Narcis Ciocan</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=5039525">Pixabay</a>*/
    }
    
    .landingBg {
        height: auto;
        width:auto;
        top: 7%;
    }
    
    .landingBesedilo {
        font-size: 19px;
        padding: 20px 5px 70px 20px;
        width: 80%;
    }
    
    .preveriPonudbo {
        top: 70%;
        font-size: 12px;
        height: auto;
    }

    .enovice {
        height: 30vh;
        width: 100%;
    }
    
    .enoviceBg {
        height: auto;
        width: 100%;
    }
    
    .enoviceBesedilo,
    input[type="email"],
    .poslji {
        font-size: 14px;
    }

    .enoviceBesedilo {
        margin: 20px;
    }
    
    input[type="email"] {
        width: 120px;
        margin: 0 5px 0 0;
        margin-bottom: 20px;
    }
  
    .info {
        height: auto;
        width: 100%;
        display: block;
    }
    
    .zeleniTrak {
        height: 30px;
        font-size: 16px;
    }
    
    .naslov {
        width: auto;
        font-size: 15px;
    }
    
    .vsebinaEna,
    .vsebinaDva,
    .vsebinaTri {
        height: auto;
        width: auto;
        font-size: 14px;
    }
  }

  @media(min-width: 360px) and (orientation: portrait) {  
    .logo {
        left: 24%;
    }
    
    .landingBg {
        top: 15%;
    }

    .landingBesedilo {
        font-size: 22px;
        padding: 20px 10px 70px 20px;
        width: 80%;
    }
    
    .preveriPonudbo {
        top: 70%;
        font-size: 14px;
    }

    /*meni*/
    

    
    .enoviceBg {
        height: auto;
    }
    
    .enoviceBesedilo,
    input[type="email"],
    .poslji {
        font-size: 16px;
    }
    
    .enoviceBesedilo {
        margin: 20px;
    }
    
    input[type="email"] {
        width: 130px;
        margin: 0 5px 20px 0;
    }
  
    .zeleniTrak {
        height: 30px;
        font-size: 18px;
    }

    .naslov,
    .vsebinaEna,
    .vsebinaDva,
    .vsebinaTri {
        font-size: 16px;
    }

    .video {
        height: 30vh;
    }
  }

  @media(min-width: 375px) and (orientation: portrait) {    
    footer {
        font-size: 9px;
       }
   
    .logo {
        left: 25%;
     }

    .landingBesedilo {
        font-size: 23px;
        padding: 20px 15px 70px 20px;
        width: 80%;
    }

    .preveriPonudbo {
        top: 70%;
        font-size: 14px;
    }

    /*meni*/

  }

  @media(min-width: 390px) and (orientation: portrait) {
    footer {
        font-size: 9.5px;
    }

    .logo {
        left: 26%;
     }

     .landingBg {
        padding: 20px 7px 80px 20px;
    }
    
    .landingBesedilo {
        font-size: 25px;
        width: 85%;
    }
    
    .preveriPonudbo {
        top: 71%;
        font-size: 16px;
    }

    .enoviceBesedilo,
    input[type="email"],
    .poslji {
        font-size: 17px;
    }

    .enoviceBesedilo {
        margin: 30px;
    }

    input[type="email"] {
        width: 170px;
        margin: 0 5px 30px 0;
    }

    .zeleniTrak {
        height: 30px;
        font-size: 20px;
    }

    .naslov,
    .vsebinaEna,
    .vsebinaDva,
    .vsebinaTri {
        font-size: 17px;
    }
  }

  @media(min-width: 412px) and (orientation: portrait) {
    footer {
        font-size: 10px;
    }

    .logo {
        left: 27%;
     }

     .landingBg {
        padding: 20px 10px 80px 20px;
    }
    
    .landingBesedilo {
        font-size: 27px;
        width: 85%;
    }

    .preveriPonudbo {
        top: 75%;
        font-size: 17px;
    }

    .enoviceBesedilo,
    input[type="email"],
    .poslji {
        font-size: 17px;
    }

    .zeleniTrak {
        font-size: 21px;
    }

    .naslov,
    .vsebinaEna,
    .vsebinaDva,
    .vsebinaTri {
        font-size: 17px;
    }
  }

  @media(min-width: 414px) and (orientation: portrait) {
     .landingBg {
        padding: 20px 0 90px 20px;
    }
    
    .landingBesedilo {
        font-size: 25px;
        width: 85%;
    }

    .preveriPonudbo {
        top: 70%;
    }
  }

  @media(min-width: 428px) and (orientation: portrait) {
     .landingBg {
        padding: 20px 10px 80px 20px;
    }
  }

  @media(min-width: 568px) and (orientation: landscape) {
    header {
        position: relative;
        width: 100%;
    }
    
    footer {
        font-size: 10px;
        height: 20px;
    }

    .logo {
        background-size: 70%;
        height: 80%;
        width: 250px;
        top: 16%;
        left: 35%;
     }
    
    /*meni*/
    
    .meni,
    .jezikDE,
    .jezikEN {
       visibility: hidden;
    }
   
    .landing {
        background-image: url(https://epicdev.si/jagosi/images/stroj2.jpg);
        background-size: 110%;
        background-position: 0 10%;
        /*Photo by <a href="https://unsplash.com/@osmantalha?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Osman Talha Dikyar</a> on <a href="https://unsplash.com/photos/a-spool-of-yellow-wire-sitting-on-top-of-a-machine-1MZ9JjAXg1E?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>*/
    }

    .landingBg {
        height: auto;
        width: auto;
        top: 17%;
    }
    
    .landingBesedilo {
        top: 22%;
        font-size: 19px;
        padding: 20px 20px 65px 20px;
        width: 50%;
    }
    
    .preveriPonudbo {
        top: 70%;
        font-size: 13px;
        height: auto;
    }
  
    .enovice {
        height: 50vh;
        width: 100%;
    }
    
    .enoviceBg {
        height: auto;
        width: 100%;
    }

    .enoviceBesedilo {
        margin: 20px;
    }

    input[type="email"] {
        width: 130px;
        margin: 0 5px 20px 0;
    }

    .enoviceBesedilo,
    input[type="email"],
    .poslji {
        font-size: 16px;
    }

    .info {
        height: auto;
        width: 100%;
        display: block;
    }
    
    .zeleniTrak {
        height: 30px;
        font-size: 17px;
    }
    
    .naslov {
        width: auto;
        font-size: 16px;
    }
    
    .vsebinaEna,
    .vsebinaDva,
    .vsebinaTri {
        height: auto;
        width: auto;
        font-size: 16px;
    }

    .video {
        height: 100vh;
    }
  }

  @media(min-width: 640px) and (orientation: landscape) {
    footer {
        font-size: 11px;
    }

    .logo {
        left: 36%;
     }
    
    /*meni*/



    .landingBg {
        top: 19%;
    }
    
    .landingBesedilo {
        font-size: 19px;
        padding: 20px 15px 65px 20px;
        width: 45%;
    }

    input[type="email"] {
        width: 180px;
    }
  }

  @media(min-width: 658px) and (orientation: landscape) { 
    .logo {
        left: 37%;
     }
    
    /*meni*/

    
    .landingBg {
        top: 19%;
    }
    
    .landingBesedilo {
        padding: 20px 10px 65px 20px;
    }
  }

  @media(min-width: 667px) and (orientation: landscape) {
    .logo {
        left: 37%;
     }

     .landingBg {
        top: 25%;
    }
    
    .landingBesedilo {
        padding: 20px 6px 65px 20px;
    }
  }

  @media(min-width: 736px) and (orientation: landscape) {
    .logo {
        left: 38%;
     }
    
    .landingBesedilo {
        padding: 20px 0 65px 20px;
    }

    input[type="email"] {
        width: 160px;
    }

    .enoviceBesedilo,
    input[type="email"],
    .poslji {
        font-size: 16px;
    }

    .zeleniTrak {
        font-size: 19px;
    }
    
    .naslov {
        width: auto;
        font-size: 16px;
    }
    
    .vsebinaEna,
    .vsebinaDva,
    .vsebinaTri {
        font-size: 16px;
    }
  }

  @media(min-width: 844px) and (orientation: landscape) {
     .landingBg {
        top: 26%;
    }
    
    .landingBesedilo {
        font-size: 22px;
    }

    .preveriPonudbo {
        font-size: 15px;
    }

    .enoviceBesedilo,
    input[type="email"],
    .poslji {
        font-size: 17px;
    }
    
    .vsebinaEna,
    .vsebinaDva,
    .vsebinaTri {
        font-size: 17px;
    }
  }

  @media(min-width: 896px) and (orientation: landscape) {
    .logo {
        left: 40%;
     }
    
    .landingBg {
        top: 27%;
    }
    
    .landingBesedilo {
        padding: 20px 20px 65px 20px;
        width: 40%;
    }

    .preveriPonudbo {
        font-size: 15px;
    }

    input[type="email"] {
        width: 190px;
    }
  }

  @media(min-width: 914px) and (orientation: landscape) {
    .logo {
        left: 41%;
     }

    .landingBesedilo {
        padding: 20px 10px 65px 20px;
    }

    input[type="email"] {
        width: 200px;
    }
  }

  @media(min-width: 928px) and (orientation: landscape) {
    .landingBesedilo {
        padding: 20px 0 65px 20px;
    }
  }


  @media(min-width: 768px) and (orientation: portrait) {
    

  }
  
  @media(min-width: 1024px) and (orientation: landscape) {
    

  }
  
  @media(min-width: 820px) and (orientation: portrait) {
    

  }
  
  @media(min-width: 1180px) and (orientation: landscape) {
    

  }
  
  @media(min-width: 1024px) and (orientation: portrait) {
    

  }


@media(min-width: 1600px) and (orientation: landscape){

/*glava in noga*/

header {
    position: sticky;
    top: 0;
    height: 130px;
    width: 100vw;
    background-color: #f8f8f8;
    z-index: 10;
}

footer {
    background-color: #4e4e4e;
    font-family: "Arimo", sans-serif;
    font-size: 14px;
    color: #f8f8f8;
    text-align: center;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a {
    text-decoration: none;
    color: #f8f8f8 !important;
    margin: 5px;
    padding: 0;
}

.logo {
    position: absolute;
    background-image: url(https://epicdev.si/jagosi/images/jagosiNew.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 80%;
    width: 250px;
    left: 25%;
    top: 11%;
 }

/*meni*/

.meni,
.jezikDE,
.jezikEN {
    position: absolute;
    font-family: "Arimo", sans-serif;
    font-size: 20px;
    font-weight: bold;
    visibility: visible;
}

.meni {
    left: 62%;
    top: 50%;
    transform: translate(-50%, -50%);
}

a {
    text-decoration: none !important;
    color: #7bcd16 !important;
    margin-left: 30px;
}

a:hover {
    color: #eb9705 !important;
}

.jezikDE,
.jezikEN {
    top: 15%;
    color: #4e4e4e !important;
}

.jezikDE {
    left: 91%;
}

.jezikEN {
    left: 94%;
}

/*prva stran*/

.landing {
    background-image: url(https://epicdev.si/jagosi/images/stroj2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: contrast(1.2);
    height: calc(100vh - 130px);
    width: 100vw;
    /*Photo by <a href="https://unsplash.com/@osmantalha?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Osman Talha Dikyar</a> on <a href="https://unsplash.com/photos/a-spool-of-yellow-wire-sitting-on-top-of-a-machine-1MZ9JjAXg1E?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>*/
}

.landingBg {
    position: absolute;
    background: rgb(255,255,255);
    background: linear-gradient(31deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.7) 48%, rgba(210,210,210,0.35) 100%);
    height: 90px;
    width: 700px;
    top: 56%;
    left: 0;
    border-radius: 3px;
    padding: 50px;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, .2);
}

.landingBesedilo {
    position: absolute;
    font-family: "Manrope", sans-serif;
    font-weight: 200;
    font-size: 29px;
    line-height: 1.3;
    word-spacing: 2px;
    padding-top: 40px;
}

.preveriPonudbo {
    position: absolute;
    bottom: 25%;
    font-family: "Arimo", sans-serif;
    font-size: 18px;
}

/*prijava na e-novice*/

.enovice {
    position: relative;
    background-image: url(https://epicdev.si/jagosi/images/lego2.jpg);
    background-size: 100%;
    height: 40vh;
    width: 100vw;
    background-position: 50% 60%;
    opacity: 0.8;
    filter: sepia(10%) contrast(1.3) hue-rotate(40deg) brightness(80%) saturate(140%);
    /*https://unsplash.com/photos/blue-building-block-lot-TL5Vy1IM-uA?utm_content=creditShareLink&utm_medium=referral&utm_source=unsplash*/
}

.enoviceBg {
    position: absolute;
    height: 120px;
    width: 700px;
    background-color: #f8f8f8c1;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, .2);
    text-align: center;
    display: block;
    align-items: center;
    justify-content: center;
    padding: 30px;
    left: 30%;
    top: 25%;
    border-radius: 3px;
}

.enoviceBesedilo {
    font-family: "Arimo", sans-serif;
    font-size: 18px;
    color: #000000;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

input[type="email"] {
    font-size: 18px;
    margin: 30px 10px 0 0;
    border-radius: 3px;
    color: #000000;
    filter: brightness(100%);
}

.poslji {
    color:#000000;
    background-color: rgba(240, 240, 240, 0.5);
    border: 1px solid #4e4e4e;
    font-size: 18px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border-radius: 3px;
}

.enoviceBesedilo,
input[type="email"],
.poslji {
    font-family: "Arimo", sans-serif;
}

/*osnovne informacije - "vaš idealni poslovni partner"*/

.info {
    background-color: #f8f8f8;
    height: calc(100vh - 100px);
    width: 100vw;
    justify-content: space-evenly; 
    display: flex;
}

.zeleniTrak {
    margin-top: 20px;
    background-color: #7bcd16;
    height: 30px;
    width: 100vw;
    font-family: "Arimo", sans-serif;
    font-size: 30px;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.naslov {
    height: 50px;
    width: 300px;
    font-family: "Arimo", sans-serif;
    font-size: 24px;
    color: #000000;
    text-align: center;
    margin: 10px 0 25px 0;
    font-weight: 600;
}

.vsebinaEna,
.vsebinaDva,
.vsebinaTri {
    position: relative;
    height: 300px;
    width: 300px;
    font-family: "Arimo", sans-serif;
    font-size: 20px;
    color: #000000;
    text-align: justify;
    line-height: 1.5;
    word-spacing:-2px;
    top: 23%;
    padding: 50px;
    border-radius: 3px;
    border: 1px solid #4e4e4e;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, .2);
}

.vsebinaEna {
    background: rgb(255,152,67);
    background: linear-gradient(61deg, rgba(255,152,67,0.4) 0%, rgba(248,255,90,0.3) 100%);
}

.vsebinaDva {
    background: rgb(235,255,67);
    background: linear-gradient(61deg, rgba(235,255,67,0.4) 0%, rgba(171,255,79,0.3) 50%, rgba(107,255,90,0.2) 100%);
}

.vsebinaTri {
    background: rgb(67,255,79);
    background: linear-gradient(61deg, rgba(67,255,79,0.4) 0%, rgba(79,255,185,0.3) 50%, rgba(90,255,237,0.2) 100%);
}

/*youtube posnetek*/

.video {
    position: relative;
    left: 15%;
    margin: 20px;
}
}
